@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #A7A1AE;
  background-color: #EDEDED;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Headings */
h1, h2 {
  font-weight: 300;
  line-height: 1em;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: black;
}

h2 {
  font-size: 1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
}

.title2 { color: #909090; font-weight: bold}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #afafaf;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container th {
  background-color: #ffffff;
}

.container td, .container th {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left:2%;  
}

/* Zebra striping for rows */
.container tr:nth-child(odd) {
  background-color: #ffffff;
}

.container tr:nth-child(even) {
  background-color: #ffffff;
}

/* Responsive styles */
@media (max-width: 1000px) {
  .container td:nth-child(9), .container th:nth-child(9),
  .container td:nth-child(10), .container th:nth-child(10) {
    display: none;
  }
}

@media (max-width: 800px) {
  .container td:nth-child(6), .container th:nth-child(6),
  .container td:nth-child(7), .container th:nth-child(7) {
    display: none;
  }
}

@media (max-width: 600px) {
  .container td:nth-child(1), .container th:nth-child(1),
  .container td:nth-child(5), .container th:nth-child(5),
  .container td:nth-child(8), .container th:nth-child(8) {
    display: none;
  }
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
}

/* Medal styles */
.gold, .silver, .bronze {
  color: black !important;
}

.gold {
  background-color: #FFD700 !important;
}

.silver {
  background-color: silver !important;
}

.bronze {
  background-color: #cd7f32 !important;
}

/* Table layout */
table {
  table-layout: fixed;
  width: 100%;
}

/* Column header styles */
.rank-header { width: 50px; text-align: center; }
.name-header { width: 150px; text-align: center; }
.points-header { width: 100px; text-align: center; }
.kills-header { width: 100px; text-align: center; }
.deaths-header { width: 100px; text-align: center; }
.kd-header { width: 80px; text-align: center; }
.wl-header { width: 80px; text-align: center; }
.rank-header { width: 120px; text-align: center; }
.playtime-header { width: 150px; text-align: center; }
.last-played-header { width: 150px; text-align: center; }

/* Icon styles */
.icon {
  color: white;
}

/* Utility classes */
.disabled {
  display: none;
}

.container-fluid {
  background-color: #FDFDFD;
}

.footer {
  color: black;
}

/* Dark mode styles */
.dark-mode {
  color: #EDEDED;
  background-color: #333333;
}
.dark-mode .container-fluid {
  background-color: #222222;
}
.dark-mode .table-light, .dark-mode .thead-light, .dark-mode .page-link {
  background-color: #333333;
  color: #EDEDED;
}

.dark-mode .thead-light th{
  background-color: #181818;
  border-color: #181818;
  color: white;
}

.dark-mode a {
  color: white;
}

.dark-mode .title {
  color: white;
}

.dark-mode .footer {
  color: white;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}


.search input:focus{
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button{
  position: absolute;
  top: 5px;
  right: 13px;
  height: 50px;
  width: 110px;
  background: blue;
}

.search-container, .search {
  width: 30%;
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.search button {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .search input[type="text"] {
      margin-right: 0.3rem;
  }
}

.mode {
  height: 50px;
  width: 70px;
}

a:hover {
  text-decoration: none;
}